@using CSharks.BLL.ViewModels;
@using CSharks.DAL.Entities;
@model List<ComicsVM>
@{
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}
<a asp-action="AddEdit" asp-controller="Comics" class="modal-open btn btn-success">Add</a>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Description</th>
            <th>Date Of Publication</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @foreach (var item in Model)
        {
            <tr>
                <td><strong>@item.Id</strong></td>
                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Name</strong></td>
                <td>@(item.Description.Count() > 100 ? item.Description.Remove(50) : item.Description)</td>
                <td>@item.DateOfPublication.ToString("MM.dd.yyyy")</td>
                <td>
                    <img src="@item.ImageFile" class="rounded-3 img-fluid border-1" style="max-width:100px;">
                </td>
                <td>
                    <div class="dropdown">
                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu" style="">
                            <a asp-action="AddEdit" asp-route-id="@item.Id" asp-route-culture="@CultureType.en" asp-controller="Comics" class="modal-open dropdown-item"><i class="bx bx-edit-alt me-1"></i>Edit</a>
                            <a asp-action="AddEdit" asp-route-id="@item.Id" asp-route-culture="@CultureType.am" asp-controller="Comics" class="modal-open dropdown-item"><i class="bx bx-edit-alt me-1"></i>Edit am</a>
                            <a asp-action="AddEdit" asp-route-id="@item.Id" asp-route-culture="@CultureType.ru" asp-controller="Comics" class="modal-open dropdown-item"><i class="bx bx-edit-alt me-1"></i>Edit ru</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Comics" class="modal-open dropdown-item"><i class="bx bx-trash me-1"></i> Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>