@model LoginVM

<div class="modal fade" id="loginModal" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-transparent">
            <div class="modal-body">
                <div class="account-area">
                    <h3 class="title mb-4">@Localizer["Welcome"]</h3>
                    <form class="account-form" method="post" asp-area="Admin" asp-controller="Account" asp-action="Login">
                        <div class="form-group">
                            <label asp-for="Email">@Localizer["YourEmail"] </label>
                            <input asp-for="Email" placeholder="@Localizer["YourEmail"]" class="form-control">
                            <span asp-validation-for="Email"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">@Localizer["Password"] </label>
                            <input asp-for="Password" placeholder="@Localizer["Password"]" class="form-control" id="password">
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input asp-for="RememberMe" class="form-check-input" />
                                <label asp-for="RememberMe" class="form-check-label">@Localizer["RememberMe"]</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <p>@Localizer["ForgotPassword?"] <a href="#0">@Localizer["RecoverPassword"]</a></p>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="cmn-btn">@Localizer["SignIn"]</button>
                        </div>
                    </form>
                    <div class="or-devider mt-5"><span>@Localizer["OR"]</span></div>
                    <div class="text-center mt-4">
                        <p>@Localizer["SignEmail"]</p>
                        <a asp-area="Admin" asp-controller="Account" asp-action="GoogleLogin" class="google-btn mt-4 mb-3">
                            <img src="~/assets/images/icon/google.png" alt="image">
                            @Localizer["SignGoogle"]
                        </a>
                        <p>
                            @Localizer["DontAccount"] <a href="#0" data-dismiss="modal" data-toggle="modal"
                                                         data-target="#signupModal">@Localizer["SignUp"]</a>
                        </p>
                    </div>
                </div><!-- account-area end -->
            </div>
        </div>
    </div>
</div>
