<section class="inner-hero bg_img" data-background="/assets/images/bg/inner-hero.jpg">
    <div class="shape position-absolute"><img src="~/assets/images/elements/inner-hero/shape.png" alt="image"></div>

    <div class="el-1 position-absolute"><img src="~/assets/images/elements/inner-hero/el-1.png" alt="image"></div>
    <div class="el-2 position-absolute"><img src="~/assets/images/elements/inner-hero/el-2.png" alt="image"></div>
    <div class="el-3 position-absolute"><img src="~/assets/images/elements/inner-hero/el-3.png" alt="image"></div>
    <div class="el-4 position-absolute"><img src="~/assets/images/elements/inner-hero/el-4.png" alt="image"></div>
    <div class="el-5 position-absolute"><img src="~/assets/images/elements/inner-hero/el-5.png" alt="image"></div>
    <div class="el-6 position-absolute"><img src="~/assets/images/elements/inner-hero/el-6.png" alt="image"></div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-title text-anim">@Localizer["BigText1"]</h2>
            </div>
        </div>
    </div>
</section>
<!-- inner-hero end -->
<!-- about us section start -->
<section class="bold-bottom--border pt-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-header text-center has--bg mb-0">
                    <h2 class="section-title text-anim" style="text-align:center;">@Localizer["BigText1"]</h2>
                    <p class="mt-3">@Localizer["Text1"]</p>
                    <a class="video-btn mt-5" href="https://www.youtube.com/embed/d6xn5uflUjg" data-rel="lightcase:myCollection"><i class="fas fa-play"></i></a>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row">
            <div class="col-lg-12">
                <div class="about-thumb text-center">
                    <img src="~/assets/images/elements/about-illustration.png" alt="about-image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about us section end -->
<!-- counter section start -->
<div class="mt-minus-80">
    <div class="container">
        <div class="row mb-none-30 justify-content-center">
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="overview-card style--two">
                    <div class="overview-card__icon">
                        <img src="~/assets/images/icon/overview/1.png" alt="image">
                    </div>
                    <div class="overview-card__content">
                        <h4 class="overview-card__number">+12,000</h4>
                        <p>Games</p>
                    </div>
                </div><!-- overview-card end -->
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="overview-card style--two">
                    <div class="overview-card__icon">
                        <img src="~/assets/images/icon/overview/2.png" alt="image">
                    </div>
                    <div class="overview-card__content">
                        <h4 class="overview-card__number">+398943</h4>
                        <p>players</p>
                    </div>
                </div><!-- overview-card end -->
            </div>
            <div class="col-lg-4 col-md-6 mb-30">
                <div class="overview-card style--two">
                    <div class="overview-card__icon">
                        <img src="~/assets/images/icon/overview/3.png" alt="image">
                    </div>
                    <div class="overview-card__content">
                        <h4 class="overview-card__number">+103</h4>
                        <p>champions</p>
                    </div>
                </div><!-- overview-card end -->
            </div>
        </div><!-- row end -->
    </div>
</div>
<!-- counter section end -->
<!-- team section start -->
<section class="pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-header text-center has--bg">
                    <div class="header-image"><img src="~/assets/images/elements/header-el.png" alt="image"></div>
                    <h2 class="section-title text-anim" style="text-align:center;">@Localizer["Text2"]</h2>
                    <p>@Localizer["Text3"]</p>
                </div>
            </div>
        </div><!-- row end -->
        <div class="row mb-none-30 justify-content-center">
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="team-card">
                    <div class="team-card__thumb">
                        <img class="team__img" src="~/assets/images/Artyush.jpg" alt="image">
                        <div class="obj"><img src="~/assets/images/elements/team-obj.png" alt="image"></div>
                    </div>
                    <div class="team-card__content">
                        <h3 class="name">@Localizer["Text4"]</h3>
                        <span class="designation">@Localizer["Text5"]</span>
                    </div>
                </div><!-- team-card end -->
            </div>
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="team-card">
                    <div class="team-card__thumb">
                        <img class="team__img" src="~/assets/images/Yeran.jpg" alt="image">
                        <div class="obj"><img src="~/assets/images/elements/team-obj.png" alt="image"></div>
                    </div>
                    <div class="team-card__content">
                        <h3 class="name">@Localizer["Text6"]</h3>
                        <span class="designation">@Localizer["Text7"]</span>
                    </div>
                </div><!-- team-card end -->
            </div>
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="team-card">
                    <div class="team-card__thumb">
                        <img class="team__img" src="https://scontent.fevn6-1.fna.fbcdn.net/v/t1.15752-9/382514024_148273801690432_1516289741597952125_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=ae9488&_nc_ohc=EFNJnlGVJbQAX8lvCRE&_nc_ht=scontent.fevn6-1.fna&oh=03_AdQWKL9PovtFPQk6jGB24m73S9FOzGGzji4JOCyONAWCJQ&oe=653D1E81" alt="image">
                        <div class="obj"><img src="~/assets/images/elements/team-obj.png" alt="image"></div>
                    </div>
                    <div class="team-card__content">
                        <h3 class="name">@Localizer["Text8"]</h3>
                        <span class="designation">@Localizer["Text9"]</span>
                    </div>
                </div><!-- team-card end -->
            </div>
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="team-card">
                    <div class="team-card__thumb">
                        <img class="team__img" src="https://scontent.fevn6-2.fna.fbcdn.net/v/t1.6435-9/70376704_2442376386036257_1007801461687451648_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=174925&_nc_ohc=NENADMKMHNkAX-8p9P-&_nc_ht=scontent.fevn6-2.fna&oh=00_AfDjQ4rfIaXEYPmFGhQmyeWX8AsBmCMzkluyQ_TcOGtLgQ&oe=653BB5FC" alt="image">
                        <div class="obj"><img src="~/assets/images/elements/team-obj.png" alt="image"></div>
                    </div>
                    <div class="team-card__content">
                        <h3 class="name">@Localizer["Text10"]</h3>
                        <span class="designation">@Localizer["Text11"]</span>
                    </div>
                </div><!-- team-card end -->
            </div>
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="team-card">
                    <div class="team-card__thumb">
                        <img class="team__img" src="~/assets/images/photo_2023-09-28_22-09-07 (1).jpg" alt="image">
                        <div class="obj"><img src="~/assets/images/elements/team-obj.png" alt="image"></div>
                    </div>
                    <div class="team-card__content">
                        <h3 class="name">@Localizer["Text12"]</h3>
                        <span class="designation">@Localizer["Text13"]</span>
                    </div>
                </div><!-- team-card end -->
            </div>
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="team-card">
                    <div class="team-card__thumb">
                        <img class="team__img" src="https://i0.wp.com/newspack-washingtoncitypaper.s3.amazonaws.com/uploads/2009/04/contexts.org_socimages_files_2009_04_d_silhouette.png?fit=1920%2C1210&ssl=1" alt="image">
                        <div class="obj"><img src="~/assets/images/elements/team-obj.png" alt="image"></div>
                    </div>
                    <div class="team-card__content">
                        <h3 class="name">@Localizer["Text14"]</h3>
                        <span class="designation">@Localizer["Text15"]</span>
                    </div>
                </div><!-- team-card end -->
            </div>
            <div class="col-lg-4 col-sm-6 mb-30">
                <div class="team-card">
                    <div class="team-card__thumb">
                        <img class="team__img" src="~/assets/images/Narek.jpg" alt="image">
                        <div class="obj"><img src="~/assets/images/elements/team-obj.png" alt="image"></div>
                    </div>
                    <div class="team-card__content">
                        <h3 class="name">Narek Beglaryan</h3>
                        <span class="designation">Graphic Designer</span>
                    </div>
                </div><!-- team-card end -->
            </div>
        </div>
    </div>
</section>

<!-- inner-hero end -->
<!-- contact section start -->
<section class="pt-120 pb-120 position-relative overflow-hidden">
    <div class="contact-left-el"><img src="~/assets/images/elements/contact-left-el.png" alt="image"></div>
    <div class="contact-right-el"><img src="~/assets/images/elements/contact-right-el.png" alt="image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header text-center has--bg">
                    <div class="header-image"><img src="~/assets/images/elements/header-el.png" alt="image"></div>
                    <h2 class="section-title text-anim" style="text-align:center;">@Localizer["Text16"]</h2>
                    <p>@Localizer["Text17"]</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-form-wrapper">
                    <form class="contact-form" id="contact_form_submit">
                        <div class="form-group">
                            <label>@Localizer["Text18"]</label>
                            <input type="text" name="name" id="name" placeholder="@Localizer["Text19"]" class="form-control style--two">
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Text20"]</label>
                            <input type="text" name="email" id="email" placeholder="@Localizer["Text21"]" class="form-control style--two">
                        </div>
                        <div class="form-group">
                            <label>@Localizer["Text22"]</label>
                            <textarea class="form-control style--two" placeholder="@Localizer["Text23"]" id="message" name="message"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">@Localizer["Text24"]</label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="submit-btn">@Localizer["Text25"]</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 mt-lg-0 mt-5">
                <div class="contact-content-wrapper">
                    <h3>@Localizer["Text26"]</h3>
                    <p>@Localizer["Text27"]</p>
                    <div class="row mt-50 mb-none-30">
                        <div class="col-lg-12 mb-30">
                            <div class="contact-item">
                                <div class="contact-item__icon">
                                    <i class="las la-envelope"></i>
                                </div>
                                <div class="contact-item__content">
                                    <h3 class="title">@Localizer["Text28"]</h3>
                                    <a href="https://pixner.net/cdn-cgi/l/email-protection#4224232a23262627343102252f232b2e6c212d2f"><span class="__cf_email__" data-cfemail="771e1911183738271f121b165914181a">@Localizer["Text29"]</span></a>
                                </div>
                            </div><!-- contact-item end -->
                        </div>
                        <div class="col-lg-12 mb-30">
                            <div class="contact-item">
                                <div class="contact-item__icon">
                                    <i class="las la-phone"></i>
                                </div>
                                <div class="contact-item__content">
                                    <h3 class="title">@Localizer["Text30"]</h3>
                                    <p><a href="tel:65455">+1 (987) 664-32-11</a></p>
                                    <p><a href="tel:65455">+1 (987) 664-32-11</a></p>
                                </div>
                            </div><!-- contact-item end -->
                        </div>
                        <div class="col-lg-12 mb-30">
                            <div class="contact-item">
                                <div class="contact-item__icon">
                                    <i class="las la-map-marker-alt"></i>
                                </div>
                                <div class="contact-item__content">
                                    <h3 class="title">@Localizer["Text31"]</h3>
                                    <p>@Localizer["Text32"]</p>
                                </div>
                            </div><!-- contact-item end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact section end -->