@model CommentAddEditVM

<h2 class="section-title">@Localizer["String1"]</h2>
<div class="justify-content-center contact-form-wrapper mt-5">
    <form asp-action="AddComment" asp-controller="News" class="contact-form">
        <input hidden asp-for="NewsId" />
        <div class="row pt-3">
            <div class="col-md-6">
                <label asp-for="Name">@Localizer["String2"]</label>
                <input asp-for="Name" type="text" class="form-control style--two" placeholder="@Localizer["String2"]">
            </div>
            <div class="col-md-6">
                <label asp-for="Email">@Localizer["String3"]</label>
                <input asp-for="Email" type="text" class="form-control style--two" placeholder="@Localizer["String3"]">
            </div>
        </div>
        <div class="row pt-3">
            <div class="col">
                <label asp-for="CommentText">@Localizer["String4"]</label>
                <textarea asp-for="CommentText" class="form-control style--two" placeholder="@Localizer["String4"]"></textarea>
            </div>
        </div>
        <button type="submit" class="submit-btn mt-3">@Localizer["String5"]</button>
    </form>
</div>
