@model NewsVM

<div class="inner-hero bg_img style--two" data-background="@Model.ImageFile">
</div>

<section class="blog-details pb-120">
    <div class="container">
        <div class="row justify-content-center border-bottom pb-5">
            <div class="col-12">
                <div class="blog-details__header">
                    <h2 class="blog-details__title">@Model.Title</h2>
                    <div class="row mt-4">
                        <div class="col-lg-6">
                            <ul class="meta-post">
                                <li><a href="#0">@Model.CreateDate.ToString("MM.dd.yyyy")</a></li>
                                <li>
                                    <div class="post-author">
                                        <div class="post-author__thumb">
                                            <img src="~/assets/images/CSharksLogo.png" alt="image">
                                        </div>
                                        <a href="#0" class="post-author__name" tabindex="0">@Localizer["Text3"]</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="social-links">
                                <li><span>@Localizer["Text1"]:</span></li>
                                <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 mt-50">
                <div class="blog-details__content">
                    <p>
                        @Model.Description
                    </p>
                </div>
            </div>
        </div><!-- row end -->
        <partial name="_AddComment" model="new CommentAddEditVM(){ NewsId = Model.Id}" />

        @foreach (var item in Model.Comments)
        {
            <div class="row justify-content-center mt-50">
                <div class="col-lg-10">
                    <div class="author">
                        <div class="NEWlogo">
                            <img src="https://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" alt="image">
                        </div>
                        <div class="author__content">
                            <span class="top-title">@item.Name</span>
                            <p>@item.CommentText</p>
                        </div>
                    </div>
                </div>
            </div>
        }


        <div class="row justify-content-center mt-50">
            <div class="col-lg-10">
                <div class="author">
                    <div class="NEWlogo">
                        <img src="~/assets/images/NEWCSharksLogo.png" alt="image">
                    </div>
                    <div class="author__content">
                        <span class="top-title">@Localizer["Text2"]</span>
                        <h3 class="name mb-3">@Localizer["Text4"]</h3>
                        <p>@Localizer["Text3"]</p>
                        <ul class="social-links justify-content-start mt-4">
                            <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#0"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div><!-- author end -->
            </div>
        </div>
    </div>
</section>