@model QuestionVM

<h3 style="text-align:center;" class="mt-3">@Model.Text</h3>
<div class="container justify-content-center">
    <img src="@Model.QuestionImage" class="img-fluid" style="max-width:300px; width:100%;"/>
    <div class="row flex-lg-row align-items-center justify-contect-center">
        @foreach (var item1 in Model.Answers)
        {
            <h1 hidden id="explan" data-text="@Model.Explanation">@Model.Explanation</h1>
            <div class="col-lg-6 mt-3">
                <button type="button" class="submit-btn w-100" onclick="check('@item1.Id', '@Model.Id')">@item1.Text</button>
            </div>
        }
    </div>
</div>