@using CSharks.DAL.Entities;
@model List<MessageVM>
<div id="chat" class="container chat">
    <div id="messages">
        @foreach (var item in Model)
        {
            @if (User.Identity.IsAuthenticated == true && item.UserName == User.Identity.Name)
            {
                <div style="color:white;" class="message my-message"><strong>@item.UserName</strong> (@item.When.ToShortDateString()): @item.Text </div>
            }
            else
            {
                <div style="color:aqua;" class="message other-message"><strong>@item.UserName</strong> (@item.When.ToShortDateString()): @item.Text </div>
            }
        }
    </div>
    <div class="d-flex" style="gap:15px;">
        <input type="text" id="messageInput" class="form-control style--two w-75" />
        <button id="sendButton" class="submit-btn w-25">Send</button>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/chathub")
        .build();

    connection.on("ReceiveMessage", (user, content, sentAt) => {
        $("#messages").append(`<div style="color:white;" class="message my-message"><strong>${user}</strong> (${sentAt}): ${content}</div>`);
    });

    connection.start().catch(err => console.error(err));

    $(document).ready(() => {
        $("#sendButton").click(() => {
            const message = $("#messageInput").val();
            if (message.trim() !== "") {
                connection.invoke("SendMessage", message).catch(err => console.error(err));
                $("#messageInput").val("");
            }
        });
    });
</script>
<style>
    .message {
        display:flex;
    }

    .my-message {
        justify-content:flex-end;
    }

    .other-message {
        justify-content:flex-start;
    }
</style>